@import "@style/util.scss";

.portal {
  @include fixed;
  @include flex;
  z-index: 999;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  @keyframes enter {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }

  @keyframes childrenEnter {
    0% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes leave {
    0% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  @keyframes childrenLeave {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
  }

  animation: enter 0.5s forwards;
  .portalWrapper {
    animation: childrenEnter 0.3s forwards;
  }
  &.leave {
    animation: leave 0.5s forwards alternate;
    .portalWrapper {
      animation: childrenLeave 0.3s forwards alternate;
    }
  }
}
