@import "@style/_util.scss";

.tree {
  background: var(--white);
  :global(.ant-tree-switcher) {
    line-height: inherit;
  }
  button {
    margin-top: 15px;
    width: 100%;
    height: 30px;
    @include flex;
    background: var(--vanilla);
    color: white;
  }
  .treeWrapper {
    background: var(--white);
    color: var(--black);
    height: 50vh;
  }
  .item {
    display: flex;
    align-items: center;
    &:hover {
      .menu {
        opacity: 1;
        visibility: visible;
      }
    }
    .menu {
      display: flex;
      align-items: center;
      margin-left: 15px;
      opacity: 0;
      visibility: hidden;
      transition: 0.4s;
      div {
        width: 20px;
        height: 20px;
        @include flex;
        border-radius: 50%;
        margin-left: 10px;
        color: white;
        font-size: 12px;
        &:nth-child(1) {
          background: blue;
        }
        &:nth-child(2) {
          background: green;
        }
        &:nth-child(3) {
          background: var(--vanilla);
        }
        &:nth-child(4) {
          background: black;
        }
      }
    }
  }
}
