@import "@style/_util.scss";

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;

  .wrapper {
    position: relative;
    width: 100%;
    height: 2000px;
    .fixed {
      position: sticky;
      top: 0;
      font-size: 0;
      line-height: 1;
      canvas {
        pointer-events: none;
        border: 0;
      }
      .text {
        @include absolute;
        text-align: center;
        color: white;
        font-size: 30px;
        z-index: 3;
        padding-top: 15vh;
      }
    }
  }
  .title {
    height: 100vh;
    @include flex;
    font-size: 24px;
  }
}
