@import "@style/_util.scss";

.wrapper {
  position: relative;
  flex: 1;
  overflow: hidden;
  background: var(--white);
  .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    & > div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
