@import "@style/_util.scss";

.example {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--white6);
  .exampleList {
    width: 100%;
    height: calc(100% - 20px);
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    .exampleListWrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(9, 110px);
      gap: 24px;
      padding-top: 2px;
    }
    .item {
      cursor: pointer;
      position: relative;
      height: 100%;
      border-radius: 6px;
      z-index: 1;
      overflow: hidden;
      color: var(--black);
      background: var(--white);
      margin-bottom: 20px;
      box-shadow: 0 0 3px var(--mainColor);
      transition: color 0.4s;
      &:hover {
        color: white;
        &:after {
          width: 260%;
          height: 310%;
        }
      }
      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0px;
        height: 0px;
        border-radius: 50%;
        background: var(--mainColor);
        z-index: -1;
        transform: translate(-50%, 50%);
        transition: 0.4s;
      }
      .title {
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        @include flexBetween;
        h5 {
          font-weight: 700;
        }
        span {
          padding: 0 6px;
          height: 18px;
          font-size: 12px;
          border-radius: 5px;
          color: white;
        }
      }

      .text {
        position: absolute;
        left: 15px;
        right: 15px;
        top: 46%;
        @include ell(2);
        line-height: 1.8;
        font-weight: 100;
      }
    }
  }

  .exampleModal {
    @include absolute;
    z-index: 9;
    background: #000;
    .exampleModalWrapper {
      @include absolute;
      background: var(--white);
      display: flex;
      flex-direction: column;
      .title {
        position: relative;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        z-index: 9;
        background: var(--white);
        h5 {
          margin-left: 10px;
          color: var(--black);
        }
      }
      .content {
        flex: 1;
        @include flex;
        overflow: hidden;
      }
    }
  }
}
